.section {
  display: flex;
  columns: 2;
}

.headerCard {
  padding: 10px;
  color: #bb3d4b;
  font-weight: 600;
  font-size: 18px;
}

.containerImg {
  position: relative;
}

.opaco {
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnChangeFoto {
  width: 80%;
  min-height: 45px;
  background: #bb3d4b;
  color: white;
  font-weight: 600;
  border-radius: 10px;
}

.description {
  font-size: 14px;
  color: #808080;
}

.btnPerfil {
  width: 150;
  min-height: 45px;
  background: #bb3d4b;
  color: white;
  font-weight: 600;
  border-radius: 10px;
}

.btnChangeFoto:hover,
.btnPerfil:hover {
  background: #8c2e36;
}

@media (min-width: 1500px) {
  .containerDatosPersonales form {
    width: 700px;
  }
}

@media (max-width: 1500px) {
  .containerDatosPersonales form {
    width: 650px;
  }

  .containerBtnGuardar1,
  .containerBtnGuardar2 {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .containerBtnGuardar1 button,
  .containerBtnGuardar2 button {
    width: 450px;
  }

  .containerDataEnvioYfacturacion {
    display: grid;
    grid-template-columns: 1fr;
  }

  .containerDataEnvioYfacturacion > div {
    width: 700px;
    margin: auto;
  }
}

@media (max-width: 1320px) {
  .containerDataEnvioYfacturacion > div {
    width: 500px;
  }
}

@media (max-width: 1180px) {
  .containerDatosPersonales form {
    width: 550px;
  }
}

@media (max-width: 1050px) {
  .containerDatosPersonales form > div {
    grid-template-columns: auto 1fr;
  }
}
