footer {
  background: #ffffff;
  position: relative;
  bottom: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 15px;
  margin: auto;
}

.container-footer {
  flex: 1;
  box-sizing: border-box;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container-footer #address {
  text-decoration: none;
}

.container-footer #address:hover {
  text-decoration: underline !important;
}

.container-footer span {
  color: #8a8a8a;
  text-transform: uppercase;
  font-size: 20px;
}

.container-footer p {
  margin-bottom: 1px;
}

.container-footer .iconos-formas-de-pago {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 200px;
  margin: auto;
}

.container-footer .iconos-formas-de-pago img {
  width: 80px;
  height: 60px;
  object-fit: contain;
  margin-left: 10px;
  filter: grayscale(100%);
}

.container-footer .iconos-envios {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.container-footer .iconos-envios img {
  width: 75px;
  height: 60px;
  object-fit: contain;
  filter: grayscale(100%);
}

.container-footer span {
  color: #646464;
  font-size: 15px;
  font-weight: 600;
}

.container-footer:nth-of-type(2) span {
  font-size: 20px;
}

.container-footer p {
  color: #8a8a8a;
  font-size: 14px;
}

.container-footer .iconos-redes {
  display: flex;
  flex-direction: column;
}

.container-footer .iconos-redes img {
  height: 60px;
  object-fit: contain;
}

.container-footer .iconos-redes span {
  font-weight: 500;
  color: black;
  display: block;
  text-align: center;
}

.container-footer .redes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5px;
  gap: 8px;
  margin-top: 30px;
}

.container-footer .redes img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  filter: grayscale(90%);
  transition: all 500ms ease-in-out;
}

.container-footer .redes img:hover {
  filter: none;
}

@media (max-width: 1038px) {
  footer {
    flex-wrap: wrap;
  }
  .container-footer {
    flex: 0 1 calc(50% - 15px);
  }

  .container-footer:nth-of-type(3) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 544px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container-footer {
    width: 100%;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    margin-top: 20px;
  }
}
