.menu {
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  margin: auto;
}

.logo {
  width: 150px;
}

.form {
  width: 80%;
  display: flex;
}

.form input {
  width: 80%;
  background: #fff none;
  color: #333;
  border: 1px solid #e7e7e7;
  height: 30px;
  padding: 0 10px;
  border-radius: 0;
  font-size: 14px;
}

.form .btnSubmit {
  width: 120px;
  border-radius: 5px;
  height: 30px;
  padding: 10px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.form .btnSubmit:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.container-icon-car {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-icon-car .total {
  display: block;

  height: 20px;
  font-size: 15px;
  font-weight: bold;
  color: #666666;
  text-align: center;
}

.container-sub-menu {
  margin-top: 5px;
  width: 100%;
}

.container-sub-menu .container-categories {
  width: 180px;
  padding: 5px;
  background: #e7e7e7;
  display: flex;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.container-sub-menu .container-categories .text-categories {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease-in-out;
}

.container-sub-menu .container-categories:hover {
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.container-sub-menu .container-categories .text-categories span {
  color: #333;
}

.container-categories .list-categorias {
  position: absolute;
  top: 40px;
  background: white;
  width: 200px;
  border-radius: 5px;
}

.container-categories .list-categorias ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}

.container-categories .list-categorias ul li {
  margin-top: 10px;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.container-categories .list-categorias ul li:hover {
  font-weight: bold;
  color: #fa7c04;
  border-bottom: 3px solid #fa7c04;
}

.submenu ul {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  margin-bottom: 0px;
}

.submenu ul li {
  margin-left: 20px;
  padding: 0;
  width: 90px;
  height: 30px;
  box-sizing: border-box;
  padding-left: 10px;
  font-size: 12px;
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: end;
  position: relative;
}

.submenu ul li span {
  color: #999;

  display: flex;
  align-items: end;
  justify-content: center;
  gap: 5;
}
