.main-header {
  background: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  top: 0;
  width: 100%;
  max-width: none;
  min-height: 80px;
}
.container-header {
  min-height: 80px;
  gap: 20px;
}

.container-header .logo {
  width: 280px;
  height: 80px;
  max-height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  margin-left: 40px;
  border-right: 1px solid #808080;
}

.container-header .logo img {
  width: 180px;
  object-fit: cover;
  cursor: pointer;
}

.container-header .search {
  width: 55%;
}

.container-header .search form {
  width: 100%;
  display: flex;
}

.container-header .search form input {
  width: 80%;
  border: 1px solid #ccc;
  padding: 5px;
}

.container-header .search form button {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4d4d4d;
  color: white;
  border-bottom-right-radius: 10px;
}

.container-header .container-car {
  width: 20%;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  margin-top: 20px;
}

.container-car .icon-car img {
  width: 45px;
  height: 30px;
  object-fit: contain;
  position: relative;
  z-index: 50;
}

.container-car .badge-car {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 10px;
  width: 35px;
  position: absolute;
  top: -71%;
  left: 5%;
  height: 35px;
  background: #bb3d4b;
  color: white;
  font-weight: 700;
}

.container-products {
  width: 25%;
  display: flex;
  justify-content: center;
}

.container-products .btn-products {
  width: 150px;
  border-top-left-radius: 10px;
  background: #808080;
  color: white;
}

.container-products .container-list-products {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 150px;
  height: 544px;
  top: 100%;
  padding: 9px;
  overflow-y: auto;
}

.container-list-products ul {
  padding-left: 0px;
}

.container-list-products ul li {
  padding: 5px;
}

.container-list-products ul li a {
  color: #5f5f5f;
  text-decoration: none;
}

.container-list-products ul li:hover a {
  color: #bb3d4b;
  font-weight: 600;
  text-decoration-line: underline;
  text-decoration-color: #a67845;
  text-decoration-thickness: 3px;
}

.container-submenu {
  width: 75%;
  display: flex;
  justify-content: center;
}

.container-submenu .icon-hamburguer {
  width: 100%;
  position: relative;
  z-index: 1100;
  display: none;
  padding-bottom: 5px;
}

.container-submenu .icon-hamburguer button {
  background: #bb3d4b;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: 30px;
  border-radius: 5px;
  padding: 10px;
}

.container-submenu .icon-hamburguer .container-submenu-responsive {
  top: 100%;
  right: 5%;
  width: 70%;
  padding: 20px;
  position: absolute;
  z-index: 1100;
}

.container-submenu-responsive ul {
  padding-left: 0px;
}

.container-submenu-responsive ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.container-submenu-responsive ul li a {
  color: #999;
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 5;
  font-size: 18px;
  word-break: break-word;
}

.submenu {
  padding-bottom: 7px;
}

.submenu ul {
  display: flex;
  width: 50%;

  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 0px;
  width: fit-content;
  padding-right: 20px;
}

.submenu ul li {
  padding: 0;
  height: 30px;
  box-sizing: border-box;
  padding-left: 10px;
  font-size: 12px;
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: end;
  position: relative;
  width: fit-content;
}

.submenu ul li a {
  color: #999;
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 5;
  font-size: 15px;
  white-space: nowrap;
  text-decoration: none;
}

.submenu .container-sub-menu {
  /* min-width: 250px;
  min-height: 100px; */
  border-radius: 10px;
  top: 100%;
  z-index: 100;
}

.submenu .container-sub-menu .list-options-cuenta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.submenu .container-sub-menu .list-options-cuenta li {
  display: flex;
  width: 100%;
  padding-left: 20px;
  padding-top: 5px;
  justify-content: flex-start;
  align-items: center;
}

.submenu .container-sub-menu .list-options-cuenta li a {
  color: black;
  text-decoration: none;
}

.submenu .container-sub-menu .list-options-cuenta .formLogin {
  width: 100%;
  padding: 10px;
}

.formLogin .form-group {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 10px;
  margin-top: 10px;
}

.formLogin .form-group label {
  color: #666;
  font-weight: 500;
  font-size: 13px;
}

.formLogin .form-group input {
  padding: 3px;
}

.formLogin .linea {
  width: 80%;
  height: 5px;
  background: #bb3d4b;
  margin: auto;
  border: 2px solid #bb3d4b;
}

.formLogin a {
  color: #bb3d4b !important;
  font-weight: 700;
  display: block;
}

.formLogin .group-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.formLogin .group-btn button {
  width: 100%;
  padding: 6px;
}

.formLogin .group-btn button:nth-of-type(1) {
  background: #bb3d4b;
  color: white;
  font-weight: 600;
  border-radius: 10px;
  font-size: 15px;
}

.formLogin .group-btn button:nth-of-type(1):hover {
  background: #991f2e !important;
}

.formLogin .group-btn button:nth-of-type(2) {
  background: #808080;
  font-weight: 600;
  font-size: 15px;
  border-radius: 10px;
  color: white;
}

.formLogin .group-btn button:nth-of-type(2):hover {
  background: #4d4d4d !important;
}

.container-mi-cuenta .btn-logout {
  cursor: pointer;
  background: #808080;
  color: white;
  font-weight: 600;
  font-size: 15px;
  width: 70%;
  margin: 15px auto;
  padding: 5px;
  height: 35px;
  border-radius: 10px;
}

.container-mi-cuenta .btn-logout:hover {
  background: #666666;
}

.the-spinner {
  animation: girar 300ms ease-in-out infinite;
}

@keyframes girar {
  to {
    transform: rotateZ(0deg);
  }

  from {
    transform: rotateZ(360deg);
  }
}

@media (max-width: 1360px) {
  .container-submenu {
    justify-content: flex-start;
  }

  .submenu ul {
    gap: 0px;
  }
}

@media (max-width: 1069px) {
  .container-products {
    display: flex;
    align-items: flex-end;
  }

  .container-products button {
    width: 100%;
    height: 40px;
  }
}

@media (max-width: 724px) {
  .container-header .search {
    visibility: hidden;
  }

  .container-submenu .icon-hamburguer button {
    margin-right: 40px;
  }

  .container-submenu .icon-hamburguer {
    display: block !important;
  }

  .submenu {
    display: none;
  }
}
