/* components/InfiniteCarousel.module.css */

.wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
  border: 1px solid black;
}

.track {
  display: flex;
  width: max-content;
  animation: scroll 4s linear infinite; /* ⬅️ velocidad aquí */
}

.slide {
  flex: 0 0 auto;
  margin-right: 16px;
}

.image {
  border-radius: 12px;
  object-fit: cover;
}

/* animación continua */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
