.content-main {
  display: flex;
}

.content-main .list-products {
  width: 25%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.content-main .list-products img {
  width: 220px;
}

.content-main .list-products .banner2 {
  height: 445px;
}

.content-main .list-products .banner1 {
  margin-bottom: 30px;
  height: 435px;
}

.content-main .list-products .banner0 {
  margin-bottom: 30px;
  height: 250px;
}

.content-main .content-index {
  width: 100%;
  box-sizing: border-box;
  padding-left: 0px;
  padding-right: 20px;
}
.container-carousel {
  width: 100%;
  padding-left: 5px;
}

.container-carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.head-container {
  width: 100%;
  padding: 6px 15px;
  min-height: 30px;
  background: #808080;
  margin-top: 20px;
}

.head-container span {
  color: white;
  font-weight: 500;
  font-size: 18px;
}

.container-destacado {
  width: 100%;
  padding: 10px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
/* 
@media (max-width: 1023px) {
  .content-main .list-products img {
    width: 170px;
  }
}

@media (min-width: 1582px) {
  .content-main .content-index {
    width: 1300px !important;
  }
} */
