@media (max-width: 544px) {
  .containerButtonsActions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px !important;
  }

  .containerButtonsActions button {
    width: 60% !important;
  }
}
