.section {
  display: flex;
  columns: 2;
}

.eye {
  position: absolute;
  right: 10px;
  top: 7px;
}

.inputPassword {
  padding-right: 40px !important;
}

@media (max-width: 768px) {
  .containerForm form {
    width: auto !important;
  }

  .containerForm form div {
    grid-template-columns: 1fr; /* una sola columna */
    align-items: start;
  }

  .containerForm form div label {
    text-align: start !important;
  }
}

@media (max-width: 600px) {
  .section {
    display: flex;
    margin-top: 80px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .section > div {
    width: 100% !important;
  }
}
